@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 2, 5;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

/* سكرول بار ملكي */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #05050a;
}
::-webkit-scrollbar-thumb {
  background: #D4AF37;
  border-radius: 10px;
}
